.tech-item {
    background-color: var(--gray-400);
    padding: 0.8rem 1.6rem;
    border-radius: 999px;

    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.tech-item img {
    width: 2.4rem;
    height: 2.4rem;
}

@media (max-width: 600px) {
    .tech-item {
        padding: 0.5rem 1rem;
    }

    .tech-item img {
        width: 2rem;
        height: 2rem;
    }
}
