:root {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

body,
input,
button,
textarea {
    font: var(--text-md);

    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
    background-color: var(--gray-600);
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font: var(--title-md);
    color: var(--gray-100);
}

.destaque {
    color: var(--color-red);
    display: block;
}
