.intro {
    background: var(--gray-500) url(../assets/bg-intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 12rem 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray-200);
}

.perfil {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 2px solid var(--color-red);
    padding: 0.5rem;
    margin-bottom: 6rem;
    position: relative;
}

.perfil img {
    border-radius: 50%;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.perfil::after {
    content: "";
    background-image: url(../assets/icons/Code.svg);
    background-repeat: no-repeat;
    background-size: contain;

    width: 3.2rem;
    height: 3.2rem;

    display: block;
    position: absolute;
    right: -1rem;
    bottom: 0rem;
}

.intro p:first-of-type {
    font: var(--subtitle);
    margin-bottom: 0.8rem;
}

.intro h1 {
    margin-bottom: 2rem;
}

.intro .description {
    color: var(--gray-300);
    max-width: 75ch;
    text-align: center;

    margin-bottom: 6rem;
}

.intro ul {
    display: flex;
    justify-content: center;
    gap: 1.6rem;
    list-style: none;
    flex-wrap: wrap;
}

.tech-item {
    background-color: var(--gray-400);
    padding: 0.8rem 1.6rem;
    border-radius: 999px;

    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.tech-item img {
    width: 2.4rem;
    height: 2.4rem;
}

@media (max-width: 600px) {
    .perfil {
        max-width: 80px;
        max-height: 80px;
    }
    .tech-item {
        padding: 0.5rem 1rem;
    }

    .tech-item img {
        width: 2rem;
        height: 2rem;
    }
}
