.services ul {
    padding: 0 2%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
    justify-content: center;
}

.service-item {
    max-width: 300px;
    width: 100%;
    border-radius: 12px;
    border: 2px solid var(--gray-500);
    padding: 2rem;
}

.service-item img {
    width: 4.8rem;
    height: 4.8rem;
}

.service-item h3 {
    margin: 2rem 0 0.8rem;
}

.service-item p {
    color: var(--gray-200);
}
