.form {
    background-color: var(--shape-form);
    border-radius: 12px;
}

.form form {
    max-width: 560px;
    margin: 0 auto;
}

.form fieldset {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
}

.form legend {
    font: var(--title-sm);
    color: var(--text-heading);

    margin-bottom: 2.4rem;

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.form img {
    width: 2.4rem;
    height: 2.4rem;
}

.col-wide {
    grid-column: 1 / -1;
}

@media (max-width: 400px) {
    .form fieldset {
        grid-template-columns: 1fr;
    }
}
