.colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    width: 100%;
}

.colors li {
    cursor: pointer;
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    background-color: var(--navy);
    border: 4px solid var(--shape-button);
    box-shadow: 0px 0px 0px 2px var(--shape-button);
}

.colors li:has(input:checked),
.colors li:has(input:hover),
.colors li:focus-within {
    box-shadow: 0px 0px 0px 2px var(--brand-light);
}

.colors input {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
