.file-upload {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.file-upload input {
    opacity: 0;
    width: 0;
    height: 0;
}

.file-upload div {
    background-color: var(--shape-button);
    color: var(--text-heading);
    font-weight: 600;
    font-size: 1.4rem;

    width: fit-content;
    padding: 1.2rem;
    border: 1px solid transparent;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 0.8rem;
    position: relative;
}

.file-upload:focus-within,
.file-upload:hover {
    border-color: var(--brand-light);
}

.file-name {
    font-size: 1.4rem;
}

@media  (max-width: 400px) {
    .file-upload {
        flex-direction: column;
        align-items: flex-start;
    }
}