.form {
    background-color: var(--shape-form);
    border-radius: 12px;
    padding: 8rem 2rem;
    flex: 1;
    max-width: 820px;
}

.form > h1 {
    font: var(--title-md);
    color: var(--text-heading);
    max-width: 560px;
    margin: 0 auto 4rem;
}

.form form {
    max-width: 560px;
    margin: 0 auto;
}

.form fieldset {
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;
}

.form fieldset + fieldset {
    margin-top: 4rem;
}

.form legend {
    font: var(--title-sm);
    color: var(--text-heading);

    margin-bottom: 2.4rem;

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.form legend img {
    width: 2.4rem;
    height: 2.4rem;
}

.col-wide {
    grid-column: 1 / -1;
}

.style-cover {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 0;
}

.error-message {
    display: none;
    color: var(--danger);
    font: var(--body-xs-regular);

    margin-top: 0.8rem;
    align-items: center;
    gap: 0.8rem;
}

@media (max-width: 400px) {
    .form fieldset {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .style-cover {
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
    }
}

@media (max-width: 900px) {
    .form {
        border-radius: 0;
        max-width: none;
    }
}
