.input-wrapper > label,
.label {
    display: block;
    margin-bottom: 1.2rem;
    font: var(--body-sm-regular);
}

.input-wrapper input,
.input-wrapper textarea {
    color: var(--text-heading);
    background-color: var(--input-base);

    width: 100%;
    padding: 1.2rem 1.6rem;
    border: 1px solid var(--input-stroke);
    border-radius: 8px;
}

.input-wrapper input:focus,
.input-wrapper textarea:focus {
    border-color: var(--brand-light);
    outline: none;
}

.input-wrapper textarea {
    padding: 1.6rem;
    resize: vertical;
    min-height: 120px;
}

.input-wrapper:has(input:not(:placeholder-shown):invalid)::after {
    content: attr(data-message);
    color: var(--danger);
    display: block;
    margin-top: 8px;
}

input:not(:placeholder-shown):invalid,
textarea:not(:placeholder-shown):invalid {
    border-color: var(--danger);
}

input:not(:placeholder-shown):invalid,
textarea:not(:placeholder-shown):invalid {
    border-color: var(--danger);
}

input:not(:placeholder-shown):invalid:focus,
textarea:not(:placeholder-shown):invalid:focus {
    outline: none;
    box-shadow: 0 0 0 2px #ff59594d;
}

input:required:valid {
    border-color: var(--green);
}

.input-wrapper ::placeholder {
    color: var(--input-placeholder);
}

input:not(:placeholder-shown):invalid + .error-message,
textarea :not(:placeholder-shown):invalid + .error-message {
    display: flex;
}
