
.themes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 0.8rem;
}

.theme-item {
    background-color: var(--shape-button);
    text-align: center;
    font-size: 1.4rem;

    padding: 4px 4px 8px;
    border: 2px solid var(--input-stroke);
    border-radius: 8px;

    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.theme-item:has(input:checked),
.theme-item:focus-within,
.theme-item:hover {
    border-color: var(--brand-light);
}

.theme-item img {
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 0.8rem;
}

.theme-item input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}