.message {
    padding: 1.2rem;
    border-radius: 12px;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 0.8rem;

    background-color: var(--color-danger);

    font: var(--font-label);
    color: var(--always-white);

    position: fixed;
    bottom: 4rem;
    left: 0;
    right: 0;

    display: none;
}

.message button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.message.show {
    display: grid;
}
