.list-item {
    list-style: none;
    display: block;

    > label {
        font: var(--paragraph);
        cursor: pointer;
        background-color: var(--bg-secondary);
        border-radius: 12px;
        padding: 1.2rem;

        display: flex;
        align-items: center;

        justify-content: space-between;

        &:focus-within {
            outline: 2px solid var(--brand);
        }

        &:has(input:checked) {
            opacity: 0.8 ;
            span {
                opacity: 0.5;
                text-decoration: line-through;
            }
        }

        div {
            display: flex;
            align-items: center;
            gap: 1.2rem;
        }

        button {
            border: none;
            background-color: transparent;
            outline: none;

            &:hover,
            &:focus {
                svg {
                    transition: scale 0.3s;
                    scale: 1.1;
                }
                svg path {
                    stroke: var(--danger);
                }
            }
        }
    }
}
