:root {
    font-size: 62.5%;

    /* Fonts */
    /* Font Families */
    --font-family-sora: "Sora", sans-serif;
    --font-family-roboto-mono: "Roboto Mono", monospace;
    --font-family-roboto-flex: "Roboto Flex", sans-serif;

    /* Display */
    --h1: 800 clamp(4rem, 2.7213rem + 3.2787vw, 7.2rem) / 1.3 var(--font-family-sora);
    --font-input: 700 3.2rem / 1.5 var(--font-family-sora);
    --font-logo: 800 2.4rem / 1.3 var(--font-family-sora);

    /* Overline */
    --font-overline: 700 1.6rem/1.5 var(--font-family-roboto-mono);
    --font-numbers-result: 700 4.8rem/1.5 var(--font-family-roboto-mono);

    /* Paragraph */
    --font-paragraph: 500 clamp(1.4rem, 1.3201rem + 0.2049vw, 1.6rem) / 1.5 var(--font-family-roboto-flex);
    --h2: 700 2rem / 1.5 var(--font-family-roboto-flex);
    --h3: 500 1.4rem / 1.5 var(--font-family-roboto-flex);
    --font-paragraph-small: 500 1.2rem / 1.5 var(--font-family-roboto-flex);

    /* Labels */
    --font-label: 700 1.6rem / 1.5 var(--font-family-roboto-flex);

    /* Colors */
    --content-primary: #fff;
    --content-secondary: #c7c9cc;
    --content-tertiary: #d9d9d9;
    --content-brand: #c58de7;
    --color-inverse: #030203;

    --background-primary: #020202;
    --background-secondary: #111012;
    --background-tertiary: #24222e;
    --background-brand: #c58de7;
    --background-gray: #3d3d3d;

    --accent-pink: #d586e0;
    --accent-blue: #91a1fa;
    --accent-green: #77c0af;
    --accent-lime: #d1dc97;
    --accent-red: #e9a9b3;

    --gradient-border: linear-gradient(
        91deg,
        var(--accent-green) 0%,
        var(--accent-lime) 14.84%,
        var(--accent-red) 32.15%,
        var(--accent-pink) 65.79%,
        var(--accent-blue) 84.58%
    );

    --gradient-background: linear-gradient(91deg, var(--accent-pink) 0%, var(--accent-blue) 98.93%);
    --gradient-content: linear-gradient(90deg, var(--content-secondary) 0%, var(--background-gray) 100%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

body,
input,
button,
textarea {
    font: var(--font-paragraph);
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468, "YOPQ" 79, "YTAS" 750, "YTDE" -203,
        "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

body {
    color: var(--content-primary);
    background-color: var(--background-primary);
    /* background-image: url(../assets/bg.jpg); */
    /* background-repeat: repeat-x;
    background-position: center   bottom; */
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

ul[role="list"] {
    list-style: none;
}

h1 {
    font: var(--h1);
}

h2 {
    font: var(--h2);
}

h3 {
    font: var(--h3);
}
