:root {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

body,
input,
button,
textarea {
    font: var(--body-md);

    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
    background-color: var(--shape-background);
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}
