.header {
    width: min(95%, 1120px);
    padding-top: 6rem;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
