:root {
    /* Pink */
    --pink-light: #c59dd2;
    --pink-base: #9547a5;
    --pink-dark: #7d298a;
    --pink-low: #3f0f41;

    /* Blue */
    --blue-light: #73b6d2;
    --blue-base: #358bb9;
    --blue-mid: #2374a4;
    --blue-dark: #144a72;
    --blue-low: #08233c;

    /* Shape */
    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000f1f;
    --shape-background: #00050a;

    /* Text */
    --text-title: #f8fbfb;
    --text-body: #e2e7e9;
    --text-label: #bac6c9;

    /* Font family */
    --font-family: "Raleway", "Arial", sans-serif;

    /* Titles */
    --title-lg: 700 clamp(2.8rem, 1.5692rem + 3.8462vw, 4.8rem) / normal var(--font-family);
    --title-md: 700 4rem / normal var(--font-family);
    --title-sm: 700 3.2rem / normal var(--font-family);
    --title-xs: 700 1.6rem / normal var(--font-family);

    /* Subtitle */
    --subtitle: 500 3.2rem/2 var(--font-family);

    /* Body */
    --body-lg: 400 2rem/1.4 var(--font-family);
    --body-md: 400 1.6rem/1.4 var(--font-family);
    --body-sm: 400 1.4rem/1.4 var(--font-family);
    --body-xs: 400 1.2rem/1.4 var(--font-family);

    --body-lg-bold: 700 2rem/1.4 var(--font-family);
    --body-md-bold: 700 1.6rem/1.4 var(--font-family);
    --body-sm-bold: 700 1.4rem/1.4 var(--font-family);
    --body-xs-bold: 700 1.2rem/1.4 var(--font-family);

    /* Button */
    --button: 700 1.4rem / normal var(--font-family);

    /* Link */
    --link: 500 1.4rem / normal var(--font-family);

    /* Tag */
    --tag: 700 1rem / normal var(--font-family);
}

.tag {
    font: var(--tag);
    text-transform: uppercase;
    letter-spacing: 0.05;
}
